VITE_APP_NAME=Geo Server Data Downloader
VITE_APP_DOMAIN=https://geo-server-data-downloader.com
VITE_ARCGIS_API_KEY=
VITE_ADSENSE_CLIENT_ID=ca-pub-XXXXXXXXXXXXXXXX
VITE_ADSENSE_SLOT_ID=1234567890
VITE_GOOGLE_SITE_VERIFICATION=your-google-verification-code
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX